@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg ,#2f2325 16.62%, #8E5D52 85.61%);     
}

header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 0.4px solid #FFF2E7;
}

header img {
    height: 100px;
    
}

nav {
    display: flex;
    gap: 32px;    
}

nav a {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

main {    
    margin-bottom: 48px;
}

main>div {
    padding-top: 30px;
    display: flex;
    flex-direction: column;    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 60px;
    padding-top: 20px;
}

#zeus {
    max-width: 200px;
    width: 100%;    
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
}

.conteudo h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color:#ECD6c4;
    font-size: 24px;
}

.conteudo button {
    background-color: #ECD6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;    
}

.conteudo button:hover {
    background-color: rgba(236, 214,196,0.53);
}

.conteudo-secundario {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 60px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
    font-size: 24px;
    padding-bottom: 60px;
}

.conteudo-secundario div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.conteudo-secundario p {
    font-family: 'Righteous', cursive;
    font-weight: 200;
    font-size: 18px;
    color: #ECD6c4;
}

footer {
    padding: 30px;
    border-top: 0.4px solid #FFF2E7;    
}

#logoronin {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    margin-top: 45px;
}


@media (max-width: 460px) {
     header{
        justify-content: center;
        padding-right: 40px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        width: 100%;
        text-align: center;        
    }
       
    .conteudo {
        align-items: center;
    }

    #zeus {
        padding-top: 40px;
    }

    .conteudo-secundario div {
        text-align: center;
    }
}

@media (min-height : 1100px) {
    header{
        padding-top: 30px;
    }

    .conteudo-principal {
        padding-top: 30px;
        padding-bottom: 60px;    
    }

    .conteudo-secundario {
        padding-top: 100px;
        padding-bottom: 105px;        
    }
}

@media (min-height : 1200px) {
    header{
        padding-top: 30px;
        padding-right: 90px;
    }

    header img {
        height: 150px;
        
    }

    nav {
        gap: 70px;    
    }

    .conteudo-principal {
        padding-top: 90px;
        padding-bottom: 120px;    
    }

    .conteudo-secundario {
        padding-top: 110px;
        padding-bottom: 110px;        
    }
}

@media (width: 540px) and (height:720px) {
    .conteudo-principal {
        padding-left: 20px;
        padding-bottom: 50px; 
        padding-top: 20px;   
    }

    .conteudo-secundario {
        padding-left: 16px;        
    }

    .conteudo-secundario p {
        padding-left: 20px;
    }
}

 @media (max-width : 280px) {
    #zeus {
        padding-top: 35px;
    }

     header{
        padding-left: 23px;
        
    } 

    header img {
        height: 70px;
        
    }

    nav {
        gap: 20px;    
    }
}










