@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg ,#2f2325 16.62%, #8E5D52 85.61%);     
}

header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

header img {
    height: 100px;
}

nav {
    display: flex;
    gap: 32px;    
}

nav a {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

main {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
} 

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#zeus {
    height: 430px;
    
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap:32px;
}

.conteudo h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
}

.conteudo h2 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color:#ECD6c4;
    font-size: 24px;
}

.conteudo button {
    background-color: #ECD6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;    
}

.conteudo button:hover {
    background-color: rgba(236, 214,196,0.53);

}

.conteudo-secundario {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color:#FFF2E7;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario p {
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6c4;
}

footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;    
}

#logoronin {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}


@media (max-width: 460px) {
    [class*="col-"] {
        width: 100%;
    }

    body {
        background-repeat: no-repeat;
        
        

    }     

    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        width: 100%;
        
    }
    
}

@media (max-width: 760px) {
    [class*="col-"] {
        width: 100%;
    }

    
    
}







